<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Revisão-Pandas" data-toc-modified-id="Revisão-Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Revisão Pandas</a></span><ul class="toc-item"><li><span><a href="#Carregando-Dados" data-toc-modified-id="Carregando-Dados-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Carregando Dados</a></span><ul class="toc-item"><li><span><a href="#Limpando-os-nomes-de-colunas" data-toc-modified-id="Limpando-os-nomes-de-colunas-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Limpando os nomes de colunas</a></span></li></ul></li><li><span><a href="#Limpeza-de-Informações" data-toc-modified-id="Limpeza-de-Informações-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Limpeza de Informações</a></span><ul class="toc-item"><li><span><a href="#(Re)Construção-da-coluna-region" data-toc-modified-id="(Re)Construção-da-coluna-region-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>(Re)Construção da coluna <code>region</code></a></span></li><li><span><a href="#Limpeza-de-Colunas-NA" data-toc-modified-id="Limpeza-de-Colunas-NA-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Limpeza de Colunas NA</a></span></li></ul></li><li><span><a href="#Análise-de-Agregados" data-toc-modified-id="Análise-de-Agregados-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Análise de Agregados</a></span><ul class="toc-item"><li><span><a href="#Agregado-Regional" data-toc-modified-id="Agregado-Regional-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Agregado Regional</a></span></li><li><span><a href="#Relação-País-Região" data-toc-modified-id="Relação-País-Região-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Relação País-Região</a></span></li><li><span><a href="#Evolução-Anual-de-Felicidade-por-País" data-toc-modified-id="Evolução-Anual-de-Felicidade-por-País-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Evolução Anual de Felicidade por País</a></span></li></ul></li></ul></li></ul></div>

# Revisão Pandas

In [1]:
import pandas as pd
import numpy as np
import os

## Carregando Dados

World Happiness Report

Fonte: https://www.kaggle.com/unsdsn/world-happiness

### Limpando os nomes de colunas

In [2]:
path = 'data/dados_felicidade/'
lista_df = [pd.read_csv(path + csv) for csv in os.listdir(path)]

In [3]:
for df in lista_df:
    print(df.columns)

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')
Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')
Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')
Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [4]:
import re
pattern = r'[ |\.()]+'
column_names = [re.sub(pattern, '_', column.lower()) for df in lista_df for column in df.columns]
print(set(column_names))
print(len(set(column_names)))

{'economy_gdp_per_capita_', 'score', 'standard_error', 'healthy_life_expectancy', 'freedom', 'family', 'freedom_to_make_life_choices', 'country', 'region', 'happiness_rank', 'happiness_score', 'country_or_region', 'perceptions_of_corruption', 'whisker_low', 'whisker_high', 'dystopia_residual', 'overall_rank', 'social_support', 'health_life_expectancy_', 'gdp_per_capita', 'generosity', 'trust_government_corruption_', 'upper_confidence_interval', 'lower_confidence_interval'}
24

In [5]:
column_name_dict = dict()
column_name_dict['health_life_expectancy_'] = 'health_life_expectancy'
column_name_dict['country_or_region'] = 'country'
column_name_dict['upper_confidence_interval'] = 'upper_confidence_interval'
column_name_dict['perceptions_of_corruption'] = 'corruption'
column_name_dict['whisker_high'] = 'whisker_high'
column_name_dict['region'] = 'region'
column_name_dict['generosity'] = 'generosity'
column_name_dict['country'] = 'country'
column_name_dict['gdp_per_capita'] = 'gdp_per_capita'
column_name_dict['freedom_to_make_life_choices'] = 'freedom'
column_name_dict['standard_error'] = 'standard_error'
column_name_dict['happiness_score'] = 'happiness_score'
column_name_dict['whisker_low'] = 'whisker_low'
column_name_dict['happiness_rank'] = 'happiness_rank'
column_name_dict['lower_confidence_interval'] = 'lower_confidence_interval'
column_name_dict['overall_rank'] = 'happiness_rank'
column_name_dict['dystopia_residual'] = 'dystopia'
column_name_dict['trust_government_corruption_'] = 'corruption'
column_name_dict['freedom'] = 'freedom'
column_name_dict['score'] = 'happiness_score'
column_name_dict['social_support'] = 'social_support'
column_name_dict['healthy_life_expectancy'] = 'health_life_expectancy'
column_name_dict['economy_gdp_per_capita_'] = 'gdp_per_capita'
column_name_dict['family'] = 'family'

In [6]:
column_name_dict

{'health_life_expectancy_': 'health_life_expectancy',
 'country_or_region': 'country',
 'upper_confidence_interval': 'upper_confidence_interval',
 'perceptions_of_corruption': 'corruption',
 'whisker_high': 'whisker_high',
 'region': 'region',
 'generosity': 'generosity',
 'country': 'country',
 'gdp_per_capita': 'gdp_per_capita',
 'freedom_to_make_life_choices': 'freedom',
 'standard_error': 'standard_error',
 'happiness_score': 'happiness_score',
 'whisker_low': 'whisker_low',
 'happiness_rank': 'happiness_rank',
 'lower_confidence_interval': 'lower_confidence_interval',
 'overall_rank': 'happiness_rank',
 'dystopia_residual': 'dystopia',
 'trust_government_corruption_': 'corruption',
 'freedom': 'freedom',
 'score': 'happiness_score',
 'social_support': 'social_support',
 'healthy_life_expectancy': 'health_life_expectancy',
 'economy_gdp_per_capita_': 'gdp_per_capita',
 'family': 'family'}

In [7]:
lista_df = []
path = 'data/dados_felicidade/'
for csv in os.listdir(path):
    print(f'Carregando {csv}')
    ano = csv.replace('.csv', '')
    df = pd.read_csv(path + csv)
    df['year'] = ano
    df.columns = [re.sub(pattern, '_', column.lower()) for column in df.columns]
    df = df.rename(column_name_dict, axis = 1)
    print(df.columns)
    lista_df.append(df)

Carregando 2015.csv
Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'standard_error', 'gdp_per_capita', 'family', 'health_life_expectancy',
       'freedom', 'corruption', 'generosity', 'dystopia', 'year'],
      dtype='object')
Carregando 2016.csv
Index(['country', 'region', 'happiness_rank', 'happiness_score',
       'lower_confidence_interval', 'upper_confidence_interval',
       'gdp_per_capita', 'family', 'health_life_expectancy', 'freedom',
       'corruption', 'generosity', 'dystopia', 'year'],
      dtype='object')
Carregando 2017.csv
Index(['country', 'happiness_rank', 'happiness_score', 'whisker_high',
       'whisker_low', 'gdp_per_capita', 'family', 'health_life_expectancy',
       'freedom', 'generosity', 'corruption', 'dystopia', 'year'],
      dtype='object')
Carregando 2018.csv
Index(['happiness_rank', 'country', 'happiness_score', 'gdp_per_capita',
       'social_support', 'health_life_expectancy', 'freedom', 'generosity',
       'corruption', 'year'],
      dtype='object')
Carregando 2019.csv
Index(['happiness_rank', 'country', 'happiness_score', 'gdp_per_capita',
       'social_support', 'health_life_expectancy', 'freedom', 'generosity',
       'corruption', 'year'],
      dtype='object')

In [8]:
tb_happy = pd.concat(lista_df, axis = 0, ignore_index=True)
tb_happy

,country,region,happiness_rank,happiness_score,standard_error,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,152,3.334,NaN,0.35900,NaN,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN,NaN,NaN,0.711
778,Tanzania,NaN,153,3.231,NaN,0.47600,NaN,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN,NaN,NaN,0.885
779,Afghanistan,NaN,154,3.203,NaN,0.35000,NaN,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN,NaN,NaN,0.517
780,Central African Republic,NaN,155,3.083,NaN,0.02600,NaN,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN,NaN,NaN,0.000
781,South Sudan,NaN,156,2.853,NaN,0.30600,NaN,0.29500,0.01000,0.09100,0.20200,NaN,2019,NaN,NaN,NaN,NaN,0.575

## Limpeza de Informações

### (Re)Construção da coluna `region`

In [9]:
tb_paises = tb_happy[['country', 'region']].dropna()
tb_paises = tb_paises.groupby('country').first()
tb_paises = tb_paises.rename({'region' : 'region_cons'}, axis = 1)
tb_paises

                                 region_cons
country
Afghanistan                    Southern Asia
Albania           Central and Eastern Europe
Algeria      Middle East and Northern Africa
Angola                    Sub-Saharan Africa
Argentina        Latin America and Caribbean
...                                      ...
Venezuela        Latin America and Caribbean
Vietnam                    Southeastern Asia
Yemen        Middle East and Northern Africa
Zambia                    Sub-Saharan Africa
Zimbabwe                  Sub-Saharan Africa

[164 rows x 1 columns]

In [10]:
tb_happy = pd.merge(tb_happy, tb_paises, on = 'country')
tb_happy

,country,region,happiness_rank,happiness_score,standard_error,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,lower_confidence_interval,upper_confidence_interval,whisker_high,whisker_low,social_support,region_cons
0,Switzerland,Western Europe,1,7.587,0.03411,1.396510,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,NaN,NaN,NaN,NaN,Western Europe
1,Switzerland,Western Europe,2,7.509,NaN,1.527330,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,7.428,7.590,NaN,NaN,NaN,Western Europe
2,Switzerland,NaN,4,7.494,NaN,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,NaN,7.561772,7.426227,NaN,Western Europe
3,Switzerland,NaN,5,7.487,NaN,1.420000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,NaN,NaN,NaN,NaN,1.549,Western Europe
4,Switzerland,NaN,6,7.480,NaN,1.452000,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,NaN,NaN,NaN,NaN,1.526,Western Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,Namibia,NaN,113,4.639,NaN,0.879000,NaN,0.477000,0.401000,0.056000,0.070000,NaN,2019,NaN,NaN,NaN,NaN,1.313,Sub-Saharan Africa
770,South Sudan,Sub-Saharan Africa,143,3.832,NaN,0.393940,0.185190,0.157810,0.196620,0.130150,0.258990,2.509290,2016,3.596,4.068,NaN,NaN,NaN,Sub-Saharan Africa
771,South Sudan,NaN,147,3.591,NaN,0.397249,0.601323,0.163486,0.147062,0.116794,0.285671,1.879567,2017,NaN,NaN,3.725539,3.456462,NaN,Sub-Saharan Africa
772,South Sudan,NaN,154,3.254,NaN,0.337000,NaN,0.177000,0.112000,0.106000,0.224000,NaN,2018,NaN,NaN,NaN,NaN,0.608,Sub-Saharan Africa
773,South Sudan,NaN,156,2.853,NaN,0.306000,NaN,0.295000,0.010000,0.091000,0.202000,NaN,2019,NaN,NaN,NaN,NaN,0.575,Sub-Saharan Africa

### Limpeza de Colunas NA

In [11]:
tb_happy = tb_happy.drop('region', axis = 1)
thresh = int(len(tb_happy) * 0.3)
tb_happy = tb_happy.dropna(axis = 1, thresh = thresh)

In [13]:
tb_happy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774 entries, 0 to 773
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   country                 774 non-null    object
 1   happiness_rank          774 non-null    int64
 2   happiness_score         774 non-null    float64
 3   gdp_per_capita          774 non-null    float64
 4   family                  468 non-null    float64
 5   health_life_expectancy  774 non-null    float64
 6   freedom                 774 non-null    float64
 7   corruption              773 non-null    float64
 8   generosity              774 non-null    float64
 9   dystopia                468 non-null    float64
 10  year                    774 non-null    object
 11  social_support          306 non-null    float64
 12  region_cons             774 non-null    object
dtypes: float64(9), int64(1), object(3)
memory usage: 84.7+ KB

In [16]:
tb_happy.to_csv('data/tb_happy.csv')

## Análise de Agregados

### Agregado Regional

In [ ]:
tb_happy.groupby('region_cons').agg(
    mu_happy = pd.NamedAgg('happiness_score', 'mean'),
    mu_le = pd.NamedAgg('health_life_expectancy', 'mean')
).sort_values('mu_happy')

In [ ]:
tb_reg = tb_happy.groupby('region_cons').agg(
    mu_reg_happy = pd.NamedAgg('happiness_score', 'mean'),
    mu_reg_le = pd.NamedAgg('health_life_expectancy', 'mean')
)

### Relação País-Região

In [ ]:
tb_happy = pd.merge(tb_happy, tb_reg, on = 'region_cons')
tb_happy['prop_reg_country'] = tb_happy['happiness_score']/tb_happy['mu_reg_happy']
tb_happy.groupby('country').agg(avg_prop_regcou = pd.NamedAgg('prop_reg_country', 'mean')).sort_values('avg_prop_regcou')

### Evolução Anual de Felicidade por País

In [ ]:
tb_happy_per = tb_happy.groupby('country').agg(
    first_year=pd.NamedAgg('year', 'min'),
    last_year=pd.NamedAgg('year', 'max'),
    avg_happy=pd.NamedAgg('happiness_score', 'mean'))
tb_happy_per = pd.merge(
    tb_happy_per,
    tb_happy[['country', 'year', 'happiness_score', 'happiness_rank']].rename(
        {
            'happiness_score': 'first_score',
            'happiness_rank': 'first_rank'
        },
        axis=1),
    left_on=['country', 'first_year'],
    right_on=['country', 'year'])

tb_happy_per = pd.merge(
    tb_happy_per,
    tb_happy[['country', 'year', 'happiness_score', 'happiness_rank']].rename(
        {
            'happiness_score': 'last_score',
            'happiness_rank': 'last_rank'
        },
        axis=1),
    left_on=['country', 'last_year'],
    right_on=['country', 'year'])
tb_happy_per = tb_happy_per.drop(['year_x', 'year_y'], axis = 1)

In [ ]:
tb_happy_per

In [ ]:
tb_happy_per['score_var'] = tb_happy_per['last_score'] - tb_happy_per['first_score']
tb_happy_per['num_anos'] = tb_happy_per['last_year'].astype(int) - tb_happy_per['first_year'].astype(int).astype(int) + 1
tb_happy_per['score_var_anual'] = tb_happy_per['score_var']/tb_happy_per['num_anos']
tb_happy_per['per_score_var_anual'] = tb_happy_per['score_var_anual']/tb_happy_per['avg_happy']

In [ ]:
tb_happy_per.sort_values('per_score_var_anual')

In [ ]:
tb_happy_per['classif_var'] = pd.qcut(tb_happy_per['per_score_var_anual'], 4,
                                     labels = ['Muito Ruim', 'Ruim', 'Bom', 'Muito Bom'])
tb_happy_per['classif_var']

In [ ]:
tb_happy_per[tb_happy_per['country'] == 'Brazil']