In [ ]:
import re
import numpy as np
import pandas as pd

# Recap Function Definitions

Broken into tokens:

> <b>def </b>
- Tell python that you're starting to create a function

> <b>function_name</b>
- you give that function a name for a future call

> <b>(</b>
- Open parenthesis to give arguments (or variables) that you'll use in that functions. These helps you parametrize code.

> <b>[OPTIONAL] arg1, arg2, arg3, ... </b>
- The arguments of that function

> <b>)</b>
- CLose parenthesis to say you're done creating arguments

> <b>:</b>
- colon to say you're about to start a `code block`

> <b>code block</b>
- where you effectively do something with (or without) the arguments

> <b>return</b>
- The return statement tells you're done with the function. Whether you'll return something from that or not is optional

> <b>[OPTIONAL] something</b>
- The `something` you're allowed to return.

In [1]:
def function_name(arg1):
    something = arg1 + 10
    return something

In [2]:
print(function_name(5))

15

In [3]:
def soma(x, y):
    return x + y

In [4]:
print(soma(5, 12))

17

In [5]:
def soma_subt(x, y):
    return x + y, x - y

In [6]:
print(soma_subt(5, 12))

(17, -7)

# What is a Lambda Function?

https://realpython.com/python-lambda/


> Named after `lambda calculus`.

> Usually refers to `anonymous functions`

## How to define lambda functions?

In [7]:
def div_2(x):
    return x/2

In [8]:
div_2(4)

2.0

In [9]:
lambda x: x/2

In [10]:
lambda x: x+10

## Some ways to call a lambda function

### Example 1

In [11]:
(lambda x: x+10) (10)

20

In [12]:
def somar_10(x):
    return x + 10

In [13]:
somar_10(10)

20

### Example 2

In [15]:
soma_10 = lambda x: x + 10

In [16]:
soma_10(5)

15

### Example 3

In [17]:
lista_exemplo = [1, 4, 5, 8]

In [18]:
[x * 2 for x in lista_exemplo]

[2, 8, 10, 16]

In [19]:
def div_2(x):
    '''
    x : numeric
    return x / 2 (numeric)
    '''
    return x/2

In [ ]:
div_2(1)
div_2(4)
div_2(5)

In [31]:
resultado_meio = map(div_2, lista_exemplo)

In [29]:
resultado_meio

In [21]:
print(resultado_meio)

<map object at 0x000001BCFFEA5400>

In [32]:
print(set(resultado_meio))

{0.5, 2.0, 2.5, 4.0}

In [33]:
resultado_meio_lambda = map(lambda x: x/2, lista_exemplo)

In [34]:
print(list(resultado_meio_lambda))

[0.5, 2.0, 2.5, 4.0]

## Define a lambda function using more than 1 argument

In [35]:
def soma(x, y):
    return x + y

print(soma(10, 5))

15

In [36]:
soma_lambda = lambda x, y: x + y
print(soma_lambda(10, 5))

15

In [37]:
(lambda x, y: x + y) (10, 5)

15

## Adding Conditions

In [47]:
import numpy as np

In [57]:
div_segura = lambda x: 1/x if x != 0 else None

In [ ]:
def div_segura_def(x):
    if x != 0:
        return 1/x
    else:
        return np.nan

In [43]:
div_segura(5)

0.2

In [44]:
div_segura(3)

0.3333333333333333

In [58]:
div_segura(0)

## Applications

### Python

#### Map

In [50]:
lista_exemplo = [1,4,6,'NA',7,10,'NA',31,13]

In [51]:
def div_2(x):
    return x/2

resultado = map(div_2, lista_exemplo)
print(list(resultado))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [52]:
def div_2_seg(x):
    if type(x) == (int or float):
        return x/2
    else:
        return None

In [53]:
resultado = map(div_2_seg, lista_exemplo)
print(list(resultado))

[0.5, 2.0, 3.0, None, 3.5, 5.0, None, 15.5, 6.5]

In [73]:
resultado = map(lambda x: x/2 if type(x) == (int or float) else None,
                lista_exemplo)

In [74]:
print(list(resultado))

[0.5, 2.0, 3.0, None, 3.5, 5.0, None, 15.5, 6.5]

In [76]:
for i in [1, None, 2]:
    print(i/2)

0.5

TypeError: unsupported operand type(s) for /: 'NoneType' and 'int'

#### Filter

In [79]:
lista_telefones = ['+5511983722311', '+111923123314', '+5511953122316', '+111953564316']

In [80]:
def tel_br(num_telefone):
    if num_telefone.find('+55') >= 0:
        return True
    else:
        return False

In [82]:
tel_br(lista_telefones[1])

False

In [83]:
mask_br = list(map(tel_br, lista_telefones))
print(mask_br)

[True, False, True, False]

In [84]:
lista_telefones[mask_br]

TypeError: list indices must be integers or slices, not list

In [85]:
print(list(zip(lista_telefones, mask_br)))

[('+5511983722311', True), ('+111923123314', False), ('+5511953122316', True), ('+111953564316', False)]

In [86]:
[tel for tel, mask in zip(lista_telefones, mask_br) if mask]

['+5511983722311', '+5511953122316']

In [87]:
resultado = filter(tel_br, lista_telefones)
print(resultado)

<filter object at 0x000001BC81C58790>

In [88]:
print(list(resultado))

['+5511983722311', '+5511953122316']

In [89]:
resultado = filter(lambda x: True if x.find('+55') >= 0 else False, 
                   lista_telefones)
print(list(resultado))

['+5511983722311', '+5511953122316']

#### Ordering a dictionary by its values

In [90]:
frutas_diferentonas = {
    'Atemoia': 10, 
    'Kiwi Gold' : 30, 
    'Romã': 15, 
    'Pitaya': 5}

In [91]:
sorted(frutas_diferentonas)

['Atemoia', 'Kiwi Gold', 'Pitaya', 'Romã']

In [92]:
list(frutas_diferentonas.items())

[('Atemoia', 10), ('Kiwi Gold', 30), ('Romã', 15), ('Pitaya', 5)]

In [93]:
sorted(frutas_diferentonas.items(), key = lambda x: x[1])

[('Pitaya', 5), ('Atemoia', 10), ('Romã', 15), ('Kiwi Gold', 30)]

In [94]:
lista_num = [-5, 2, -12, 14, 25, 8, -35]

In [95]:
sorted(lista_num)

[-35, -12, -5, 2, 8, 14, 25]

In [97]:
sorted(lista_num, key = lambda x: x ** 2)

TypeError: 'int' object is not subscriptable

#### Apply with Lambda

In [98]:
import pandas as pd

In [99]:
file_address = 'http://www.statsci.org/data/general/sleep.txt'
tb_sleep = pd.read_csv(file_address, sep='\t')

In [100]:
tb_sleep

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4
...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1

In [101]:
tb_sleep['Risco'] = tb_sleep['Danger'].apply(lambda x: 'Risco' if x >= 3 else 'Seguro')

In [102]:
tb_sleep

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,Risco
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,Risco
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,Risco
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,Seguro
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,Risco
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,Risco
...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,Risco
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,Seguro
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,Risco
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,Seguro
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,Seguro

#### Transform with Lambda

In [104]:
# Aplicar a média utilizando transform para o grupo TotalSleep
tb_sleep['media_total_sleep'] = tb_sleep.groupby('Risco')['TotalSleep'].transform('mean')

In [105]:
tb_sleep

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,Risco,media_total_sleep
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,Risco,8.111538
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,Risco,8.111538
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,Seguro,12.500000
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,Risco,8.111538
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,Risco,8.111538
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,Risco,8.111538
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,Seguro,12.500000
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,Risco,8.111538
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,Seguro,12.500000
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,Seguro,12.500000

In [107]:
tb_sleep['zscore_total_sleep'] = tb_sleep.groupby('Risco')['TotalSleep'].transform(lambda x: (x - x.mean())/x.std())

In [108]:
tb_sleep

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,Risco,media_total_sleep,zscore_total_sleep
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,Risco,8.111538,-1.175707e+00
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,Risco,8.111538,4.605087e-02
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,Seguro,12.500000,-4.359473e-16
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,Risco,8.111538,2.049734e+00
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,Risco,8.111538,-1.029096e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,Risco,8.111538,-6.625687e-01
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,Seguro,12.500000,8.098745e-01
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,Risco,8.111538,5.347540e-01
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,Seguro,12.500000,1.693374e+00
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,Seguro,12.500000,NaN

# Voltamos 21h15