<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Revisão-Aulas-8,-9-e-10" data-toc-modified-id="Revisão-Aulas-8,-9-e-10-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Revisão Aulas 8, 9 e 10</a></span><ul class="toc-item"><li><span><a href="#Numpy" data-toc-modified-id="Numpy-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Numpy</a></span><ul class="toc-item"><li><span><a href="#Vetores" data-toc-modified-id="Vetores-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Vetores</a></span></li><li><span><a href="#Matrizes" data-toc-modified-id="Matrizes-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Matrizes</a></span></li></ul></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Indexing-(Columns)" data-toc-modified-id="Indexing-(Columns)-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Indexing (Columns)</a></span></li><li><span><a href="#Filters" data-toc-modified-id="Filters-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Filters</a></span></li><li><span><a href="#Using-filters-to-create-columns" data-toc-modified-id="Using-filters-to-create-columns-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Using filters to create columns</a></span></li></ul></li></ul></li></ul></div>

# Revisão Aulas 8, 9 e 10

* Numpy
* Introdução à Pandas

## Numpy

### Vetores

In [1]:
import numpy as np

In [2]:
lista_int = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
vetor_de_lista = np.array(lista_int)

In [3]:
print(vetor_de_lista)

[ 1  2  3  4  5  6  7  8  9 10]

In [4]:
vetor_de_lista

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [5]:
vetor_de_lista.shape

(10,)

In [6]:
vetor_de_lista.size

10

In [7]:
print(vetor_de_lista[1])
print(vetor_de_lista[1:])
print(vetor_de_lista[:3])

2
[ 2  3  4  5  6  7  8  9 10]
[1 2 3]

In [9]:
print(type(vetor_de_lista[1:]))

<class 'numpy.ndarray'>

In [10]:
vetor_de_lista > 5

array([False, False, False, False, False,  True,  True,  True,  True,
        True])

In [12]:
mascara_gt5 = vetor_de_lista > 5
print(mascara_gt5)

[False False False False False  True  True  True  True  True]

In [13]:
vetor_de_lista[mascara_gt5]

array([ 6,  7,  8,  9, 10])

### Matrizes

In [14]:
lista_de_listas = [[1, 2, 3], [4, 5, 6]]
matriz = np.array(lista_de_listas)
print(matriz)

[[1 2 3]
 [4 5 6]]

In [15]:
print(matriz.shape)
print(matriz.size)

(2, 3)
6

In [16]:
matriz[0,0]

1

In [20]:
matriz[0,:]

array([1, 2, 3])

In [18]:
matriz[:,0]

array([1, 4])

In [21]:
matriz.ravel()

array([1, 2, 3, 4, 5, 6])

In [22]:
matriz * 2

array([[ 2,  4,  6],
       [ 8, 10, 12]])

In [23]:
print(matriz + 1)
print(matriz)

[[2 3 4]
 [5 6 7]]
[[1 2 3]
 [4 5 6]]

In [26]:
matriz += 1

In [27]:
print(matriz)

[[3 4 5]
 [6 7 8]]

In [28]:
matriz > 4

array([[False, False,  True],
       [ True,  True,  True]])

In [30]:
matriz[matriz > 0]

array([3, 4, 5, 6, 7, 8])

In [32]:
print(matriz)
print(matriz.shape)
print(matriz.sum(axis = 1))
print(matriz.sum(axis = 0))

[[3 4 5]
 [6 7 8]]
(2, 3)
[12 21]
[ 9 11 13]

In [33]:
outra_matriz = np.random.random(size = (2, 3))
print(outra_matriz)

[[0.02107411 0.79723616 0.29478337]
 [0.21621432 0.36836069 0.16979058]]

In [34]:
matriz + outra_matriz

array([[3.02107411, 4.79723616, 5.29478337],
       [6.21621432, 7.36836069, 8.16979058]])

In [35]:
matriz * outra_matriz

array([[0.06322232, 3.18894466, 1.47391685],
       [1.29728592, 2.57852481, 1.35832462]])

In [36]:
meu_vetor = np.array([0, 0, 1])
print(matriz * meu_vetor)

[[0 0 5]
 [0 0 8]]

In [37]:
outro_vetor = np.array([0, 1])
print(matriz * outro_vetor)

ValueError: operands could not be broadcast together with shapes (2,3) (2,)

In [39]:
matriz_t = matriz.transpose()
print(matriz)
print(matriz_t)
print(outro_vetor)

[[3 4 5]
 [6 7 8]]
[[3 6]
 [4 7]
 [5 8]]
[0 1]

In [40]:
print(matriz_t * outro_vetor)

[[0 6]
 [0 7]
 [0 8]]

In [41]:
(matriz.transpose() * outro_vetor).transpose()

array([[0, 0, 0],
       [6, 7, 8]])

## Pandas

### Indexing (Columns)

In [42]:
import pandas as pd
tb_veic = pd.read_csv('data/dados_veiculos.csv')

In [43]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [45]:
tb_veic['Fuel Type'].describe()

count       35952
unique         13
top       Regular
freq        23587
Name: Fuel Type, dtype: object

In [46]:
original_cnames = tb_veic.columns

In [47]:
print(original_cnames)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [48]:
tb_veic.columns = range(len(tb_veic.columns))

In [49]:
tb_veic

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [50]:
print(original_cnames)

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [51]:
better_names = [column.lower().replace(' ', '_').replace('/', '_by_') for column in original_cnames]

In [52]:
print(better_names)

['make', 'model', 'year', 'engine_displacement', 'cylinders', 'transmission', 'drivetrain', 'vehicle_class', 'fuel_type', 'fuel_barrels_by_year', 'city_mpg', 'highway_mpg', 'combined_mpg', 'co2_emission_grams_by_mile', 'fuel_cost_by_year']

In [53]:
tb_veic.columns = better_names

In [54]:
print(tb_veic.columns)

Index(['make', 'model', 'year', 'engine_displacement', 'cylinders',
       'transmission', 'drivetrain', 'vehicle_class', 'fuel_type',
       'fuel_barrels_by_year', 'city_mpg', 'highway_mpg', 'combined_mpg',
       'co2_emission_grams_by_mile', 'fuel_cost_by_year'],
      dtype='object')

In [55]:
tb_veic.rename({'year' : 'model_year'}, axis = 1)

,make,model,model_year,engine_displacement,cylinders,transmission,drivetrain,vehicle_class,fuel_type,fuel_barrels_by_year,city_mpg,highway_mpg,combined_mpg,co2_emission_grams_by_mile,fuel_cost_by_year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [56]:
tb_veic.columns

Index(['make', 'model', 'year', 'engine_displacement', 'cylinders',
       'transmission', 'drivetrain', 'vehicle_class', 'fuel_type',
       'fuel_barrels_by_year', 'city_mpg', 'highway_mpg', 'combined_mpg',
       'co2_emission_grams_by_mile', 'fuel_cost_by_year'],
      dtype='object')

In [ ]:
tb_veic = tb_veic.rename({'year' : 'model_year'}, axis = 1)

### Filters

In [60]:
tb_veic['make'] == 'Ford'

count     35952
unique        2
top       False
freq      33006
Name: make, dtype: object

In [61]:
mascara_ford = tb_veic['make'] == 'Ford'
sum(mascara_ford)
mascara_ford.describe()

count     35952
unique        2
top       False
freq      33006
Name: make, dtype: object

In [65]:
tb_veic_ford = tb_veic[mascara_ford]
tb_veic_ford.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2946 entries, 11440 to 14385
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   make                        2946 non-null   object
 1   model                       2946 non-null   object
 2   year                        2946 non-null   int64
 3   engine_displacement         2946 non-null   float64
 4   cylinders                   2946 non-null   float64
 5   transmission                2946 non-null   object
 6   drivetrain                  2946 non-null   object
 7   vehicle_class               2946 non-null   object
 8   fuel_type                   2946 non-null   object
 9   fuel_barrels_by_year        2946 non-null   float64
 10  city_mpg                    2946 non-null   int64
 11  highway_mpg                 2946 non-null   int64
 12  combined_mpg                2946 non-null   int64
 13  co2_emission_grams_by_mile  2946 non-null   float64
 14  fuel_cost_by_year           2946 non-null   int64
dtypes: float64(4), int64(5), object(6)
memory usage: 368.2+ KB

In [67]:
mascara_fordchev_6cyl = ((tb_veic['make'] == 'Ford') | (tb_veic['make'] == 'Chevrolet')) & (tb_veic['cylinders'] == 6)
print(mascara_fordchev_6cyl)
sum(mascara_fordchev_6cyl)

0        False
1        False
2        False
3        False
4        False
         ...
35947    False
35948    False
35949    False
35950    False
35951    False
Length: 35952, dtype: bool

2489

In [68]:
tb_fordchev_6cyl = tb_veic[mascara_fordchev_6cyl]
print(tb_fordchev_6cyl['make'].value_counts())
print(tb_fordchev_6cyl['cylinders'].value_counts())

Ford         1293
Chevrolet    1196
Name: make, dtype: int64
6.0    2489
Name: cylinders, dtype: int64

### Using filters to create columns

In [72]:
tb_veic.loc[mascara_fordchev_6cyl, 'fordchev_6cyl'] = True
tb_veic.loc[~mascara_fordchev_6cyl, 'fordchev_6cyl'] = False
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   make                        35952 non-null  object
 1   model                       35952 non-null  object
 2   year                        35952 non-null  int64
 3   engine_displacement         35952 non-null  float64
 4   cylinders                   35952 non-null  float64
 5   transmission                35952 non-null  object
 6   drivetrain                  35952 non-null  object
 7   vehicle_class               35952 non-null  object
 8   fuel_type                   35952 non-null  object
 9   fuel_barrels_by_year        35952 non-null  float64
 10  city_mpg                    35952 non-null  int64
 11  highway_mpg                 35952 non-null  int64
 12  combined_mpg                35952 non-null  int64
 13  co2_emission_grams_by_mile  35952 non-null  float64
 14  fuel_cost_by_year           35952 non-null  int64
 15  fordchev_6cyl               35952 non-null  object
dtypes: float64(4), int64(5), object(7)
memory usage: 4.4+ MB

In [73]:
tb_veic['fordchev_6cyl'].describe()

count     35952
unique        2
top       False
freq      33463
Name: fordchev_6cyl, dtype: object

In [74]:
p25_citympg = tb_veic['city_mpg'].quantile(0.25)
p75_citympg = tb_veic['city_mpg'].quantile(0.75)
print(p25_citympg)
print(p75_citympg)

15.0
20.0

In [78]:
type(p25_citympg)

numpy.float64

In [77]:
np.where(mascara_fordchev_6cyl, 'Ford ou Chev', 'Outros')

array(['', '', '', ..., '', '', ''], dtype='<U12')

In [76]:


tb_veic['eff_city'] = np.where(tb_veic['city_mpg'] < p25_citympg, 'C',
                               np.where(tb_veic['city_mpg'] < p75_citympg, 'B', 'A'))
tb_veic['eff_city'].value_counts()

B    17601
A     9879
C     8472
Name: eff_city, dtype: int64