<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Integração-SQL/Python" data-toc-modified-id="Integração-SQL/Python-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Integração SQL/Python</a></span></li></ul></div>

# Integração SQL/Python

In [12]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [15]:
engine = create_engine('postgresql+psycopg2://ironhack:123456@localhost:5432/ironhack')
tb_pedido = pd.read_sql_query('SELECT * FROM db_ecom.pedido', engine)

In [16]:
data

,cd_pedido,dt_pedido,dt_expedicao,cd_status_pedido,cd_cliente
0,1,2022-01-11 19:27:12,2022-01-13 19:27:12,1,1
1,2,2022-01-10 19:27:12,2022-01-10 19:27:12,1,1
2,4,2022-01-03 19:27:12,2022-01-03 19:27:12,1,4
3,3,2022-01-06 19:27:12,2022-01-06 19:27:12,0,2

In [20]:
tb_atrasos = pd.read_sql_query('SELECT * FROM bookings.tb_atrasos', engine)

In [21]:
tb_atrasos

  classif_atraso  num_voo_atrasado  ticket_medio_atraso
0         ATRASO             27419         19012.257923
1        PONTUAL            549686         19962.577362

In [22]:
queryFile = open('queries/READ_TB_ATRASOS.sql')
query = queryFile.read()
queryFile.close()

In [25]:
print(query)

SELECT
	tb_classif_atraso.classif_atraso,
	COUNT(tb_classif_atraso.flight_id) AS num_voo_atrasado,
	AVG(tb_classif_atraso.amount) AS ticket_medio_atraso
FROM
	(
	SELECT
		t1.book_ref,
		t1.total_amount,
		t2.ticket_no,
		t3.flight_id,
		t3.amount,
		CASE WHEN t4.actual_departure > t4.scheduled_departure + INTERVAL '2 hours' THEN 'ATRASO'
			 ELSE 'PONTUAL' END AS classif_atraso
	FROM
		ironhack.bookings.bookings AS t1 INNER JOIN
		ironhack.bookings.tickets AS t2 ON t1.book_ref = t2.book_ref INNER JOIN
		ironhack.bookings.ticket_flights AS t3 ON  t2.ticket_no=t3.ticket_no INNER JOIN
		ironhack.bookings.flights AS t4 ON t3.flight_id = t4.flight_id
	WHERE
		t4.status = 'Departed' OR
		t4.status = 'Arrived'
	) AS tb_classif_atraso
GROUP BY
	classif_atraso

In [26]:
pd.read_sql_query(query, engine)

  classif_atraso  num_voo_atrasado  ticket_medio_atraso
0         ATRASO             27419         19012.257923
1        PONTUAL            549686         19962.577362