# Strings in Python

In [1]:
nome_pintor = 'Mondrian'

In [2]:
print(nome_pintor)

Mondrian

In [3]:
nome_pintora = "Kahlo"

In [4]:
print(nome_pintora)

Kahlo

In [5]:
nome_pintor_2 = 'Mondrian '
print(nome_pintor)
print(nome_pintor_2)

Mondrian
Mondrian

In [6]:
print(nome_pintor == nome_pintor_2)

False

# The newline character (\n) & other special characters
- `\n` é a representação da quebra de linha (enter)
- `\t` é a representação do TAB
- `\` é o caráter para "escaparmos" um caráter (' e a propria \ por exemplo)

In [7]:
pintores_futuristas = "Marinetti\nBoccioni\nBalla"

In [8]:
print(pintores_futuristas)

Marinetti
Boccioni
Balla

In [9]:
pintores_futuristas

'Marinetti\nBoccioni\nBalla'

In [11]:
print('alo ')

alo

In [12]:
escada = '1o Degrau\n\t2o Degrau\n\t\t3o Degrau\n\t\t\t4o Degrau'

In [13]:
print(escada)

1o Degrau
	2o Degrau
		3o Degrau
			4o Degrau

## String concatenation

In [14]:
# Your code here
nm_comp_pintora = 'Frida ' + nome_pintora
print(nm_comp_pintora)

Frida Kahlo

In [15]:
nm_pintores = nome_pintora + ' ' + nome_pintor
print(nm_pintores)

Kahlo Mondrian

In [16]:
# Cuidado com tipos não numéricos!!
print(['Frida'] + nome_pintora)

TypeError: can only concatenate list (not "str") to list

In [17]:
print(['Frida'][0] + nome_pintora)

FridaKahlo

In [18]:
print(1 + nome_pintor)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
print('1' + nome_pintor)

1Mondrian

In [20]:
x = 1
print(str(x) + nome_pintor)

1Mondrian

In [23]:
lista_y = []
for i in range(1, 10):
    y = str(i) + nome_pintor
    lista_y.append(y)

In [24]:
print(lista_y)

['1Mondrian', '2Mondrian', '3Mondrian', '4Mondrian', '5Mondrian', '6Mondrian', '7Mondrian', '8Mondrian', '9Mondrian']

# String multiplication

In [25]:
print(3 * 'Olá! ')

Olá! Olá! Olá!

In [26]:
print(3 * 'Olá!\n')

Olá!
Olá!
Olá!

In [27]:
print('-' * 100 + '\n' + '\t' * 3 + 'O programa executou com sucesso!\n' + '-' * 100)

----------------------------------------------------------------------------------------------------
			O programa executou com sucesso!
----------------------------------------------------------------------------------------------------

## Multiline strings

In [29]:
pintores_futuristas_2 = '''Marinetti
Boccioni
Balla'''

In [31]:
pintores_futuristas

'Marinetti\nBoccioni\nBalla'

In [30]:
print(pintores_futuristas)
print(pintores_futuristas_2)

Marinetti
Boccioni
Balla
Marinetti
Boccioni
Balla

In [32]:
pintores_futuristas == pintores_futuristas_2

True

In [33]:
pintores_futuristas_3 = '''
Marinetti
Boccioni
Balla
'''
print(pintores_futuristas_3)

Marinetti
Boccioni
Balla

In [34]:
print(pintores_futuristas_2)

Marinetti
Boccioni
Balla

In [35]:
pintores_futuristas == pintores_futuristas_3

False

In [36]:
query = '''
    SELECT
        *
    FROM
        tabela
'''

In [37]:
print(query)

    SELECT
        *
    FROM
        tabela

# Join list of strings

In [38]:
nomes = ['Pedro', 'Teche', 'de Lima']
print(nomes)

['Pedro', 'Teche', 'de Lima']

In [39]:
espaco = ' '
nome_completo = espaco.join(nomes)
print(nome_completo)

Pedro Teche de Lima

In [40]:
print(type(nomes))
print(type(nome_completo))

<class 'list'>
<class 'str'>

In [41]:
print(' '.join(nomes))

Pedro Teche de Lima

In [42]:
'@'.join(nomes)

'Pedro@Teche@de Lima'

In [43]:
print('\n'.join(nomes))

Pedro
Teche
de Lima

In [44]:
print('\t'.join(nomes))

Pedro	Teche	de Lima

In [45]:
print('Qualquercoisa'.join(nomes))

PedroQualquercoisaTecheQualquercoisade Lima

In [46]:
print(' '.join(['Pedro', 'Teche', 'de Lima']))

Pedro Teche de Lima

In [47]:
print(nomes[0])

Pedro

In [48]:
print(' '.join(nomes[0]))

P e d r o

In [49]:
print('-'.join('Pedro'))

P-e-d-r-o

In [50]:
for letra in 'Andre':
    print(letra)

A
n
d
r
e

In [51]:
'A' == 'a'

False

# Practical example

In [52]:
cadastro_clientes = [{'nome' : 'José Antonio', 'endereco' : {'rua' : 'Al. dos Flamboyans', 'numero' : 1637, 'cidade' : 'Pirassununga', 'UF' : 'SP'}},
                     {'nome' : 'Antonio Francisco', 'endereco' : {'rua' : 'Rua das Acacias', 'numero' : 1765, 'cidade' : 'Piracicaba', 'UF' : 'SP'}},
                     {'nome' : 'Francisco João', 'endereco' : {'rua' : 'Rua dos Jequitibas', 'numero' : 455, 'cidade' : 'Belo Horizonte', 'UF' : 'MG'}},
                     {'nome' : 'João Carlos', 'endereco' : {'rua' : 'Rua dos Jequitibas', 'numero' : 1826, 'cidade' : 'Belém', 'UF' : 'PA'}}]

In [53]:
print(cadastro_clientes[0])

{'nome': 'José Antonio', 'endereco': {'rua': 'Al. dos Flamboyans', 'numero': 1637, 'cidade': 'Pirassununga', 'UF': 'SP'}}

In [55]:
lista_clientes = []
for cadastro in cadastro_clientes:
    dict_cliente = dict()
    dict_cliente['nome'] = cadastro['nome']
    dict_cliente['endereco'] = f"{cadastro['endereco']['rua']} {str(cadastro['endereco']['numero'])} {cadastro['endereco']['cidade']}-{cadastro['endereco']['UF']}"
    lista_clientes.append(dict_cliente)
print(lista_clientes)

[{'nome': 'José Antonio', 'endereco': 'Al. dos Flamboyans 1637 Pirassununga-SP'}, {'nome': 'Antonio Francisco', 'endereco': 'Rua das Acacias 1765 Piracicaba-SP'}, {'nome': 'Francisco João', 'endereco': 'Rua dos Jequitibas 455 Belo Horizonte-MG'}, {'nome': 'João Carlos', 'endereco': 'Rua dos Jequitibas 1826 Belém-PA'}]

In [57]:
print(set([1,2,3]))

{1, 2, 3}

In [66]:
x = 1
y = 2
print(f"Pedro")

Pedro

In [59]:
cadastro = cadastro_clientes[0]
print(cadastro)

{'nome': 'José Antonio', 'endereco': {'rua': 'Al. dos Flamboyans', 'numero': 1637, 'cidade': 'Pirassununga', 'UF': 'SP'}}

In [60]:
cadastro_endereco = cadastro['endereco']
cadastro_endereco['rua']
print(type(cadastro_endereco))

<class 'dict'>

# Size of strings

In [67]:
print(len('Pedro'))

5

In [68]:
print(len('Pedro' + ' Teche'))

11

In [69]:
print(len('Pedro\n'))

6

In [70]:
print(len('''Pedro
'''))

6

# Word slicing

In [71]:
print('Adriano'[1:])

driano

In [74]:
nome = 'Adriano'
print(nome[:1] + nome[1:])

Adriano

In [75]:
print(nome[-3:])

ano

In [76]:
print(nome[:-3])

Adri

In [77]:
print(nome[:-3] + nome[-3:])

Adriano

In [78]:
print(nome[4])

a

In [79]:
print(nome[14])

IndexError: string index out of range

# Splitting a string

Inverse of join

In [80]:
# Your code here
nome_completo = 'Pedro Teche de Lima'
nome_completo.split(' ')

['Pedro', 'Teche', 'de', 'Lima']

In [82]:
'@'.join(nome_completo.split(' '))

'Pedro@Teche@de@Lima'

In [85]:
'Pedro Teche de Lima 123 de Arroba'.split(' ', 2)

['Pedro', 'Teche', 'de Lima 123 de Arroba']

In [86]:
print('''Pedro
Teche
de Lima'''.split('\n'))

['Pedro', 'Teche', 'de Lima']

In [88]:
list('abcdd   as\nc')

['a', 'b', 'c', 'd', 'd', ' ', ' ', ' ', 'a', 's', '\n', 'c']

In [89]:
nome_completo.split()

['Pedro', 'Teche', 'de', 'Lima']

# String methods

In [90]:
# Your code here
nome_errado = 'pEDRO tECHE DE lIMA'

In [91]:
print(nome_errado.capitalize())

Pedro teche de lima

In [92]:
print(nome_errado.upper())

PEDRO TECHE DE LIMA

In [93]:
print(nome_errado.lower())

pedro teche de lima

In [94]:
print(nome_errado.title())

Pedro Teche De Lima

# Strip

In [95]:
# Your code here
'     Pedro Teche de Lima           '.strip()

'Pedro Teche de Lima'

In [96]:
'     Pedro          Teche         de Lima           '.strip()

'Pedro          Teche         de Lima'

In [98]:
' '.join('     Pedro          Teche         de Lima           '.split())

'Pedro Teche de Lima'

In [99]:
'     Pedro Teche de Lima           '.rstrip()

'     Pedro Teche de Lima'

In [100]:
'     Pedro Teche de Lima           '.lstrip()

'Pedro Teche de Lima           '

# Startswith vs Endswith

In [101]:
# Your code here
'Frida Kahlo'.startswith('Ped')

False

In [102]:
'Frida Kahlo'.startswith('fri')

False

In [103]:
'Frida Kahlo'.startswith('Fri')

True

In [104]:
('Frida Kahlo'.lower()).startswith('fri')

True

In [126]:
type('     Frida Kahlo'.startswith('fri'))

bool

In [128]:
frida_strip = '     Frida Kahlo'.strip()
print(frida_strip)
print(type(frida_strip))
frida_strip_lower = frida_strip.lower()
print(frida_strip_lower)
print(type(frida_strip_lower))
frida_starts = frida_strip_lower.startswith('fri')
print(frida_starts)
print(type(frida_starts))

Frida Kahlo
<class 'str'>
frida kahlo
<class 'str'>
True
<class 'bool'>

In [113]:
print('     Frida Kahlo'.startswith('fri'))

False

In [121]:
lower_frida = 'Frida Kahlo'.lower()
starts_fri = lower_frida.startswith('ida', 2)

'AloAloAlo1'

In [ ]:
'Frida Kahlo'.lower().startswith('ida', 2)

In [133]:
# Escolher apenas as colunas da T1
colunas = ['T1_id', ' t1_nome', '    T1_id_fatura', 't1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
           'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 't1_num', 't1_cep', 'T1_cidade', 'T1_uf',
           'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [136]:
colunas_t1 = []
for coluna in colunas:
    if coluna.lower().strip().startswith('t1'):
        colunas_t1.append(coluna)
print(colunas_t1)

['T1_id', ' t1_nome', '    T1_id_fatura', 't1_cd_sku', 'T1_tipo_frete', 'T1_rua', 't1_num', 't1_cep', 'T1_cidade', 'T1_uf', 'T1_vl_frete']

# Is it in a string?

In [137]:
'a' in 'abc'

True

In [138]:
'ab' in 'abc'

True

In [139]:
'ba' in 'abc'

False

In [ ]:
colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
           'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
           'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [141]:
colunas_vl_qt = []
for coluna in colunas:
    if 'vl_' in coluna and 'T1' in coluna:
        colunas_vl_qt.append(coluna)
        
print(colunas_vl_qt)

['T1_vl_frete']

In [160]:
1 in set([(1,2),2,3])

False

# Replacing values

In [161]:
# Your code here
lista_compras = '''Pão
Queijo
Tomate'''

print(lista_compras.replace('Tomate', 'Presunto'))

Pão
Queijo
Presunto

In [162]:
novas_compras = lista_compras.replace('Queijo', 'Presunto').replace('Tomate', 'Salame')
print(novas_compras)

Pão
Presunto
Salame

In [163]:
print(novas_compras.replace('\n', '-'))

Pão-Presunto-Salame

In [ ]:
colunas_erradas = ['T1_id ', ' T1_nome', '  T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                   'T5_vl_custo ', 'T1_tipo_frete ', ' T1_rua ', 'T1_num'  , 'T1_cep ', 'T1_cidade ', 'T1_uf  ',
                   'T1_vl_frete ', '  T2_tp_promo', ' T3_vl_promo', 'T4_vl_sv       ', 'T5_qt_doado  ']

# REGular EXpression - INTRO TO REGEX

In [165]:
# Importe a biblioteca!!
import re

1. `re.search`: Returns the first instance of an expression in a string.
2. `re.findall`: Finds all instances of an expression in a string and returns them as a list.
3. `re.split`: Splits a string based on a specified delimiter.
4. `re.sub`: Substitutes a string/substring with another.

Website to visually see what your regular expressions look like: https://regexper.com/

## Method .findall

In [166]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros.'
pattern = 'vizinho'

re.findall(pattern, text)

['vizinho']

In [167]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros.'
pattern = 'viz'

re.findall(pattern, text)

['viz']

In [168]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern_2 = 'VIZINHO'

re.findall(pattern_2, text)

[]

In [169]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern_3 = 'e'

re.findall(pattern_3, text)

['e', 'e', 'e', 'e']

In [171]:
# Extrair todas as colunas da T1
lista_colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [173]:
re.findall('T1_', ' '.join(lista_colunas))

['T1_', 'T1_', 'T1_', 'T1_', 'T1_', 'T1_', 'T1_', 'T1_', 'T1_', 'T1_', 'T1_']

In [174]:
lista_t1 = []
for coluna in lista_colunas:
    pattern = 'T1_'
    if re.findall(pattern, coluna):
        lista_t1.append(coluna)
        
print(lista_t1)

['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf', 'T1_vl_frete']

## Introducing Sets

In [175]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Mm][Ee][Uu]'

re.findall(pattern, text)

['Meu']

In [177]:
text = 'Meu mEU MeUDEOS'
pattern = '[Mm][Ee][Uu]'

re.findall(pattern, text)

['Meu', 'mEU', 'MeU']

In [178]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata'

re.findall(pattern, text)

['Pata', 'pata']

In [185]:
text = 'Patas pata pAta fAta fAca'
pattern = '[pPasdfaaPPpa2][Aa][ct]a'

re.findall(pattern, text)

['Pata', 'pata', 'pAta', 'fAta', 'fAca']

In [186]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata|cachorro'
re.findall(pattern, text)

['Pata', 'cachorro', 'pata']

In [189]:
# Extrair todas as colunas da T1 ou da T2
lista_colunas = ['T1_id', 't1_nome', 'T1_id_fatura', 't1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 't2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']

In [192]:
lista_colunas_T1T2 = []
for coluna in lista_colunas:
    if re.findall('[Tt][12]', coluna):
        lista_colunas_T1T2.append(coluna)
print(lista_colunas_T1T2)

['T1_id', 't1_nome', 'T1_id_fatura', 't1_cd_sku', 'T2_cd_promo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf', 'T1_vl_frete', 't2_tp_promo']

## Methods .search & .sub

In [193]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = 'Pata'

print(re.search(pattern, text))

<re.Match object; span=(19, 23), match='Pata'>

In [209]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata'

obj_match = re.search(pattern, text)

In [217]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = '[Pp]ata'
nova_pattern = 'Pedro'
print(re.sub(pattern, nova_pattern, text))

Meu vizinho, o Sr. Pedro, tem 5 cachorros e cada um tem 4 Pedros.

# Pattern sets

Range

1. [a-z]: Any lowercase letter between a and z.
1. [A-Z]: Any uppercase letter between A and Z.
1. [0-9]: Any numeric character between 0 and 9.
1. [A-z]: Any letter, lower or uppercase, between A and Z. ([UPPERCASE A - LOWERCASE Z])

In [230]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = r'[A-z ][A-z][A-z ]'
re.findall(pattern, text)

['Meu',
 ' vi',
 'zin',
 ' o ',
 ' Pa',
 ' te',
 ' ca',
 'cho',
 'rro',
 ' e ',
 'cad',
 ' um',
 ' te',
 ' pa',
 'tas']

In [237]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cães e cada um tem 4 patas.'
#pattern = 'c[A-Za-z]es'
#attern = '[A-z]*'

re.findall(pattern, text)

['Meu',
 '',
 'vizinho',
 '',
 '',
 'o',
 '',
 'Sr',
 '',
 '',
 'Pata',
 '',
 '',
 'tem',
 '',
 '',
 '',
 'c',
 '',
 'es',
 '',
 'e',
 '',
 'cada',
 '',
 'um',
 '',
 'tem',
 '',
 '',
 '',
 'patas',
 '',
 '']

. `^` is equivalent to NOT

In [235]:
pattern = '[^A-Za-z0-9]'

re.findall(pattern, text)

[' ',
 ',',
 ' ',
 ' ',
 '.',
 ' ',
 ',',
 ' ',
 ' ',
 ' ',
 'ã',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '.']

In [ ]:
# Extrair todas as colunas da T1 ou da T2
lista_colunas = ['T1_id', 'T1_nome', 'T1_id_fatura', 'T1_cd_sku', 'T2_cd_promo', 'T3_qt_vendido', 'T4_vl_total', 
                 'T5_vl_custo', 'T1_tipo_frete', 'T1_rua', 'T1_num', 'T1_cep', 'T1_cidade', 'T1_uf',
                 'T1_vl_frete', 'T2_tp_promo', 'T3_vl_promo', 'T4_vl_sv', 'T5_qt_doado']
pattern = 'T[0-9]'

# Meta Characters:

Characters that don't mean what they are.

1. `\w`: Any alphanumeric character.
3. `\d`: Any numeric character.
7. `.` : Any character except newline (\n).

In [238]:
text = 'Meu vizinho, o Sr. Pata, tem 5 cachorros e cada um tem 4 patas.'
pattern = r'\d' # equivalente à '\\d'

print(re.findall(pattern, text))

['5', '4']

In [239]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'\d' # equivalente à '\\d'

print(re.findall(pattern, text))

['5', '0', '4']

In [ ]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'\w' # equivalente à '\\w'

print(re.findall(pattern, text))

In [ ]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'.'

print(re.findall(pattern, text))

## Quantifiers
1. `*`: 0 or more
2. `?`: 0 or 1
3. `+`: 1 or more

In [240]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'[A-z0-9]+'

re.findall(pattern, text)

['Meu',
 'vizinho',
 'o',
 'Sr',
 'Pata',
 'tem',
 '50',
 'cachorros',
 'e',
 'cada',
 'um',
 'tem',
 '4',
 'patas']

In [250]:
text = 'Meu vizinho, o Sr. Pata, tem 50,01 cachorros e cada um tem 4 patas.'
pattern = r'[0-9]+,[0-9]+|[0-9]+'

re.findall(pattern, text)

['50,01', '4']

In [242]:
pattern = r',.+'
re.findall(pattern, text)

[', o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.']

In [ ]:
pattern = r'ca\w{2}'
re.findall(pattern, text)

In [ ]:
text = 'Meu vizinho, o Sr. Pata, tem 50 cachorros e cada um tem 4 patas.'
pattern = r'[Pp]atas?'
re.findall(pattern, text)

In [ ]:
r'50'