<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Revisão-Aulas-11,-12-e-13" data-toc-modified-id="Revisão-Aulas-11,-12-e-13-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Revisão Aulas 11, 12 e 13</a></span><ul class="toc-item"><li><span><a href="#Programação-Funcional" data-toc-modified-id="Programação-Funcional-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Programação Funcional</a></span><ul class="toc-item"><li><span><a href="#Funções-Anônimas-(lambda-functions)" data-toc-modified-id="Funções-Anônimas-(lambda-functions)-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Funções Anônimas (lambda functions)</a></span></li><li><span><a href="#Map,-Filter-&amp;-Reduce" data-toc-modified-id="Map,-Filter-&amp;-Reduce-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Map, Filter &amp; Reduce</a></span><ul class="toc-item"><li><span><a href="#Amarrando-tudo-junto" data-toc-modified-id="Amarrando-tudo-junto-1.1.2.1"><span class="toc-item-num">1.1.2.1&nbsp;&nbsp;</span>Amarrando tudo junto</a></span></li></ul></li></ul></li><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Series-Apply" data-toc-modified-id="Series-Apply-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Series Apply</a></span></li><li><span><a href="#DataFrame-Apply" data-toc-modified-id="DataFrame-Apply-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>DataFrame Apply</a></span></li><li><span><a href="#DataFrame-Transform" data-toc-modified-id="DataFrame-Transform-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>DataFrame Transform</a></span></li></ul></li></ul></li><li><span><a href="#Voltamos-14h" data-toc-modified-id="Voltamos-14h-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Voltamos 14h</a></span></li></ul></div>

# Revisão Aulas 11, 12 e 13


* Programação Funcional
    * Funções anônimas
    * Map, Filter, Reduce
* Pandas Apply

## Programação Funcional

### Funções Anônimas (lambda functions)

In [1]:
def somar_2(x):
    return x + 2

somar_2_lambda = lambda x: x + 2
print(somar_2(3))
print((lambda x: x + 2) (3))
print(somar_2_lambda(3))

5
5
5

In [2]:
(lambda x, y: x + y) (2, 3)

5

In [4]:
(lambda x, y: x - y if x > y else y - x) (3, 2)

1

In [5]:
(lambda x: x.find('teste'))('este é um teste')

10

In [6]:
(lambda x: x[0])([1,2,3])

1

### Map, Filter & Reduce

In [9]:
lista_numeros = [5, 10, 15, 2, 3, -5]

In [25]:
num_sq = map(lambda x: x**2, lista_numeros)
for i in num_sq:
    print(i)
print(list(num_sq)[:2])

TypeError: 'map' object is not callable

In [15]:
num_gt5 = filter(lambda x: x > 5, lista_numeros)
for i in num_gt5:
    print(i)

10
15

In [16]:
from functools import reduce
num_prod = reduce(lambda x, y: x*y, lista_numeros)
print(num_prod)

-22500

#### Amarrando tudo junto

In [17]:
num_sq = map(lambda x: x**2, lista_numeros)
num_gt10 = filter(lambda x: True if x > 10 else False, num_sq)
num_prod = reduce(lambda x, y: x*y, num_gt10)
print(num_prod)

14062500

## Pandas

### Series Apply

In [26]:
import pandas as pd
tb_veic = pd.read_csv('data/dados_veiculos.csv')

In [27]:
tb_veic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

In [28]:
tb_veic['Make'].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Superior Coaches Div E.p. Dutton         1
Aurora Cars Ltd                          1
Grumman Allied Industries                1
S and S Coach Company  E.p. Dutton       1
Panos                                    1
Name: Make, Length: 127, dtype: int64

In [29]:
lista_marcas = ['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota']

tb_veic['top_make'] = tb_veic['Make'].apply(lambda x: x if x in lista_marcas else 'Outros')

In [30]:
tb_veic['top_make'].value_counts()

Outros       22820
Chevrolet     3643
Ford          2946
Dodge         2360
GMC           2347
Toyota        1836
Name: top_make, dtype: int64

In [31]:
tb_happy = pd.read_csv('data/tb_happy.csv')

In [32]:
tb_happy.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support,region_cons
0,0,Switzerland,1,7.587,1.39651,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,Western Europe
1,1,Switzerland,2,7.509,1.52733,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,NaN,Western Europe
2,2,Switzerland,4,7.494,1.56498,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,Western Europe
3,3,Switzerland,5,7.487,1.42000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,1.549,Western Europe
4,4,Switzerland,6,7.480,1.45200,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,1.526,Western Europe

In [33]:
tb_happy['region_cons'].value_counts()

Sub-Saharan Africa                 195
Central and Eastern Europe         144
Latin America and Caribbean        109
Western Europe                     103
Middle East and Northern Africa     96
Southeastern Asia                   44
Southern Asia                       35
Eastern Asia                        28
North America                       10
Australia and New Zealand           10
Name: region_cons, dtype: int64

In [35]:
def agrupar_regiao(regiao):
    '''
    Agrupa regiões de acordo com a presença de substrings indicando continente
    regiao (str): Nome da Região
    '''
    continentes = ['Africa', 'Europe', 'America', 'Asia', 'Australia']
    for cont in continentes:
        if regiao.find(cont) >= 0:
            if cont == 'Australia':
                return 'Oceania'
            else:
                return cont

In [36]:
tb_happy['continente'] = tb_happy['region_cons'].apply(agrupar_regiao)

In [37]:
tb_happy['continente'].value_counts()

Africa     291
Europe     247
America    119
Asia       107
Oceania     10
Name: continente, dtype: int64

### DataFrame Apply

In [ ]:
tb_happy.info()

In [38]:
tb_happy[['generosity', 'corruption']].apply(lambda x: 'G' if x['generosity'] > x['corruption'] else 'C',
                                            axis = 1)

0      C
1      C
2      C
3      C
4      C
      ..
769    G
770    G
771    G
772    G
773    G
Length: 774, dtype: object

In [39]:
tb_happy['g_or_c'] = tb_happy[['generosity', 'corruption']].apply(
    lambda x: 'G' if x['generosity'] > x['corruption'] else 'C', axis=1)

In [40]:
tb_happy[['generosity', 'corruption']].apply(max, axis = 0)

generosity    0.838075
corruption    0.551910
dtype: float64

In [41]:
tb_happy.describe()

,Unnamed: 0,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support
count,774.000000,774.000000,774.000000,774.000000,468.000000,774.000000,774.000000,773.000000,774.000000,468.000000,774.000000,306.000000
mean,386.500000,78.856589,5.375673,0.913601,0.988922,0.610695,0.410746,0.125557,0.218493,2.095931,2016.980620,1.209722
std,223.578845,45.304676,1.131273,0.407126,0.318615,0.248253,0.153441,0.105950,0.122766,0.562486,1.416366,0.301989
min,0.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580,2015.000000,0.000000
25%,193.250000,40.000000,4.507250,0.603537,0.792359,0.440015,0.309103,0.055000,0.129822,1.737985,2016.000000,1.055250
50%,386.500000,79.000000,5.312500,0.978120,1.023380,0.646960,0.431000,0.091000,0.202000,2.094640,2017.000000,1.265500
75%,579.750000,118.000000,6.180000,1.233561,1.227692,0.807413,0.531165,0.155353,0.279705,2.458470,2018.000000,1.456500
max,773.000000,158.000000,7.769000,2.096000,1.610574,1.141000,0.724000,0.551910,0.838075,3.837720,2019.000000,1.644000

In [42]:
tb_happy.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support,region_cons,continente,g_or_c
0,0,Switzerland,1,7.587,1.39651,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,Western Europe,Europe,C
1,1,Switzerland,2,7.509,1.52733,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,NaN,Western Europe,Europe,C
2,2,Switzerland,4,7.494,1.56498,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,Western Europe,Europe,C
3,3,Switzerland,5,7.487,1.42000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,1.549,Western Europe,Europe,C
4,4,Switzerland,6,7.480,1.45200,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,1.526,Western Europe,Europe,C

In [43]:
row_score = tb_happy.loc[1, [
    'family', 'health_life_expectancy', 'freedom', 'corruption', 'generosity',
    'social_support'
]]
row_score

family                    1.14524
health_life_expectancy    0.86303
freedom                   0.58557
corruption                0.41203
generosity                0.28083
social_support                NaN
Name: 1, dtype: object

In [46]:
row_score[row_score == max(row_score)].index[0]

'family'

In [48]:
def max_score(row):
    '''
    Retorna o maior efeito sobre a felicidade.
    
    row (DataFrame row)
    '''
    row_score = row[[
        'family', 'health_life_expectancy', 'freedom', 'corruption',
        'generosity', 'social_support'
    ]].dropna()
    max_name = row_score[row_score == max(row_score)].index[0]
    return max_name

tb_happy.apply(max_score, axis = 1)

0              family
1              family
2              family
3      social_support
4      social_support
            ...
769    social_support
770        generosity
771            family
772    social_support
773    social_support
Length: 774, dtype: object

In [49]:
tb_happy[['family', 'health_life_expectancy', 'freedom', 'corruption', 'generosity',
    'social_support']].idxmax(axis=1)

0              family
1              family
2              family
3      social_support
4      social_support
            ...
769    social_support
770        generosity
771            family
772    social_support
773    social_support
Length: 774, dtype: object

### DataFrame Transform

In [50]:
df = pd.DataFrame({'C1': range(3), 'C2': range(1, 4)})
df

   C1  C2
0   0   1
1   1   2
2   2   3

In [51]:
df.transform(lambda x: x + 1)

   C1  C2
0   1   2
1   2   3
2   3   4

In [52]:
df['cat'] = ['A', 'A', 'B']
df

   C1  C2 cat
0   0   1   A
1   1   2   A
2   2   3   B

In [53]:
df['TOTAL_CAT_C1'] = df.groupby('cat')['C1'].transform(sum)
df

   C1  C2 cat  TOTAL_CAT_C1
0   0   1   A             1
1   1   2   A             1
2   2   3   B             2

In [54]:
df['TOTAL_CAT_C2'] = df.groupby('cat')['C2'].transform(sum)
df

   C1  C2 cat  TOTAL_CAT_C1  TOTAL_CAT_C2
0   0   1   A             1             3
1   1   2   A             1             3
2   2   3   B             2             3

In [55]:
tb_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 774 entries, 0 to 773
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              774 non-null    int64
 1   country                 774 non-null    object
 2   happiness_rank          774 non-null    int64
 3   happiness_score         774 non-null    float64
 4   gdp_per_capita          774 non-null    float64
 5   family                  468 non-null    float64
 6   health_life_expectancy  774 non-null    float64
 7   freedom                 774 non-null    float64
 8   corruption              773 non-null    float64
 9   generosity              774 non-null    float64
 10  dystopia                468 non-null    float64
 11  year                    774 non-null    int64
 12  social_support          306 non-null    float64
 13  region_cons             774 non-null    object
 14  continente              774 non-null    object
 15  g_or_c                  774 non-null    object
dtypes: float64(9), int64(3), object(4)
memory usage: 96.9+ KB

In [56]:
tb_happy['hs_cont'] = tb_happy.groupby(['continente', 'year'
                                        ])['happiness_score'].transform('mean')
tb_happy.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support,region_cons,continente,g_or_c,hs_cont
0,0,Switzerland,1,7.587,1.39651,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,Western Europe,Europe,C,5.902740
1,1,Switzerland,2,7.509,1.52733,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,NaN,Western Europe,Europe,C,5.922980
2,2,Switzerland,4,7.494,1.56498,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,Western Europe,Europe,C,5.953320
3,3,Switzerland,5,7.487,1.42000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,1.549,Western Europe,Europe,C,6.021163
4,4,Switzerland,6,7.480,1.45200,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,1.526,Western Europe,Europe,C,6.124542

In [57]:
tb_happy['hs_reg'] = tb_happy.groupby(['region_cons', 'year'
                                       ])['happiness_score'].transform('mean')
tb_happy.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support,region_cons,continente,g_or_c,hs_cont,hs_reg
0,0,Switzerland,1,7.587,1.39651,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,Western Europe,Europe,C,5.902740,6.689619
1,1,Switzerland,2,7.509,1.52733,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,NaN,Western Europe,Europe,C,5.922980,6.685667
2,2,Switzerland,4,7.494,1.56498,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,Western Europe,Europe,C,5.953320,6.703714
3,3,Switzerland,5,7.487,1.42000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,1.549,Western Europe,Europe,C,6.021163,6.829100
4,4,Switzerland,6,7.480,1.45200,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,1.526,Western Europe,Europe,C,6.124542,6.898400

In [58]:
tb_happy['prop_pais_regiao'] = tb_happy.groupby(['region_cons', 'year'
                                       ])['happiness_score'].transform(lambda x: x/x.mean())
tb_happy.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support,region_cons,continente,g_or_c,hs_cont,hs_reg,prop_pais_regiao
0,0,Switzerland,1,7.587,1.39651,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,Western Europe,Europe,C,5.902740,6.689619,1.134145
1,1,Switzerland,2,7.509,1.52733,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,NaN,Western Europe,Europe,C,5.922980,6.685667,1.123149
2,2,Switzerland,4,7.494,1.56498,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,Western Europe,Europe,C,5.953320,6.703714,1.117888
3,3,Switzerland,5,7.487,1.42000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,1.549,Western Europe,Europe,C,6.021163,6.829100,1.096338
4,4,Switzerland,6,7.480,1.45200,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,1.526,Western Europe,Europe,C,6.124542,6.898400,1.084309

In [64]:
tb_happy.groupby(['region_cons', 'year'])['happiness_score'].apply(sum)

region_cons                      year
Australia and New Zealand        2015     14.570
                                 2016     14.647
                                 2017     14.598
                                 2018     14.596
                                 2019     14.535
Central and Eastern Europe       2015    154.655
                                 2016    155.750
                                 2017    156.888
                                 2018    158.455
                                 2019    156.010
Eastern Asia                     2015     33.757
                                 2016     33.745
                                 2017     21.986
                                 2018     34.032
                                 2019     34.133
Latin America and Caribbean      2015    135.183
                                 2016    146.442
                                 2017    131.072
                                 2018    124.711
                                 2019    118.851
Middle East and Northern Africa  2015    108.138
                                 2016    102.335
                                 2017    102.024
                                 2018    100.372
                                 2019     99.503
North America                    2015     14.546
                                 2016     14.508
                                 2017     14.309
                                 2018     14.214
                                 2019     14.170
Southeastern Asia                2015     47.857
                                 2016     48.050
                                 2017     43.559
                                 2018     47.821
                                 2019     47.463
Southern Asia                    2015     32.066
                                 2016     31.943
                                 2017     32.399
                                 2018     32.227
                                 2019     31.688
Sub-Saharan Africa               2015    168.112
                                 2016    157.184
                                 2017    160.366
                                 2018    163.606
                                 2019    167.486
Western Europe                   2015    140.482
                                 2016    140.399
                                 2017    140.778
                                 2018    136.582
                                 2019    137.968
Name: happiness_score, dtype: float64

In [59]:
tb_happy['prop_pais_cont'] = tb_happy.groupby(['continente', 'year'
                                       ])['happiness_score'].transform(lambda x: x/x.mean())
tb_happy.head()

,Unnamed: 0,country,happiness_rank,happiness_score,gdp_per_capita,family,health_life_expectancy,freedom,corruption,generosity,dystopia,year,social_support,region_cons,continente,g_or_c,hs_cont,hs_reg,prop_pais_regiao,prop_pais_cont
0,0,Switzerland,1,7.587,1.39651,1.349510,0.941430,0.665570,0.419780,0.296780,2.517380,2015,NaN,Western Europe,Europe,C,5.902740,6.689619,1.134145,1.285335
1,1,Switzerland,2,7.509,1.52733,1.145240,0.863030,0.585570,0.412030,0.280830,2.694630,2016,NaN,Western Europe,Europe,C,5.922980,6.685667,1.123149,1.267774
2,2,Switzerland,4,7.494,1.56498,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716,2017,NaN,Western Europe,Europe,C,5.953320,6.703714,1.117888,1.258793
3,3,Switzerland,5,7.487,1.42000,NaN,0.927000,0.660000,0.357000,0.256000,NaN,2018,1.549,Western Europe,Europe,C,6.021163,6.829100,1.096338,1.243447
4,4,Switzerland,6,7.480,1.45200,NaN,1.052000,0.572000,0.343000,0.263000,NaN,2019,1.526,Western Europe,Europe,C,6.124542,6.898400,1.084309,1.221316

# Voltamos 14h