In [1]:
import pandas as pd
import numpy as np

# DataFrame Calculations

## Read DataFrame

Description: 

http://lib.stat.cmu.edu/datasets/sleep

In [40]:
tb_animals = pd.read_csv('http://www.statsci.org/data/general/sleep.txt', sep='\t')

In [41]:
tb_animals.describe()

,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger
count,62.000000,62.000000,48.000000,50.000000,58.000000,58.000000,58.000000,62.000000,62.000000,62.000000
mean,198.789984,283.134194,8.672917,1.972000,10.532759,19.877586,142.353448,2.870968,2.419355,2.612903
std,899.158011,930.278942,3.666452,1.442651,4.606760,18.206255,146.805039,1.476414,1.604792,1.441252
min,0.005000,0.140000,2.100000,0.000000,2.600000,2.000000,12.000000,1.000000,1.000000,1.000000
25%,0.600000,4.250000,6.250000,0.900000,8.050000,6.625000,35.750000,2.000000,1.000000,1.000000
50%,3.342500,17.250000,8.350000,1.800000,10.450000,15.100000,79.000000,3.000000,2.000000,2.000000
75%,48.202500,166.000000,11.000000,2.550000,13.200000,27.750000,207.500000,4.000000,4.000000,4.000000
max,6654.000000,5712.000000,17.900000,6.600000,19.900000,100.000000,645.000000,5.000000,5.000000,5.000000

In [53]:
tb_animals.head(7)

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,lower_species,lista_primata,nome_primata
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,africanelephant,[],NaN
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,africangiantpouchedrat,[],NaN
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,arcticfox,[],NaN
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,arcticgroundsquirrel,[],NaN
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,asianelephant,[],NaN
5,Baboon,10.550,179.5,9.1,0.7,9.8,27.0,180.0,4,4,4,baboon,[],NaN
6,Bigbrownbat,0.023,0.3,15.8,3.9,19.7,19.0,35.0,1,1,1,bigbrownbat,[],NaN

In [6]:
tb_animals.Danger.value_counts()

1    19
2    14
3    10
4    10
5     9
Name: Danger, dtype: int64

In [7]:
tb_animals.Exposure.value_counts()

1    27
2    13
5    13
4     5
3     4
Name: Exposure, dtype: int64

In [8]:
tb_animals.Predation.value_counts()

2    15
1    14
5    14
3    12
4     7
Name: Predation, dtype: int64

# DataFrame Calculations

## Performing calculations to create a new column

### Using constants

In [9]:
tb_animals['new_column'] = 1

In [10]:
tb_animals.head()

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,new_column
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,1
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,1
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,1
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,1
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,1

In [13]:
tb_animals = tb_animals.drop('new_column', axis = 1)

## From lists

In [14]:
len(tb_animals)

62

In [16]:
tb_animals['id_linha'] = [i for i in range(len(tb_animals))]

In [17]:
tb_animals

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,new_column_2,id_linha
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,0,0
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,1,1
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,2,2
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,3,3
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,Treehyrax,2.000,12.3,4.9,0.5,5.4,7.5,200.0,3,1,3,57,57
58,Treeshrew,0.104,2.5,13.2,2.6,15.8,2.3,46.0,3,2,2,58,58
59,Vervet,4.190,58.0,9.7,0.6,10.3,24.0,210.0,4,3,4,59,59
60,Wateropossum,3.500,3.9,12.8,6.6,19.4,3.0,14.0,2,1,1,60,60
61,Yellow-belliedmarmot,4.050,17.0,NaN,NaN,NaN,13.0,38.0,3,1,1,61,61

## Performing calculations of `columns` * constant

In [18]:
type(tb_animals['BrainWt'])

pandas.core.series.Series

In [19]:
tb_animals.BrainWt.map(type)

0     <class 'float'>
1     <class 'float'>
2     <class 'float'>
3     <class 'float'>
4     <class 'float'>
           ...
57    <class 'float'>
58    <class 'float'>
59    <class 'float'>
60    <class 'float'>
61    <class 'float'>
Name: BrainWt, Length: 62, dtype: object

In [20]:
tb_animals['BrainWt_kg'] = tb_animals['BrainWt']/1000

In [21]:
tb_animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Species       62 non-null     object
 1   BodyWt        62 non-null     float64
 2   BrainWt       62 non-null     float64
 3   NonDreaming   48 non-null     float64
 4   Dreaming      50 non-null     float64
 5   TotalSleep    58 non-null     float64
 6   LifeSpan      58 non-null     float64
 7   Gestation     58 non-null     float64
 8   Predation     62 non-null     int64
 9   Exposure      62 non-null     int64
 10  Danger        62 non-null     int64
 11  new_column_2  62 non-null     int64
 12  id_linha      62 non-null     int64
 13  BrainWt_kg    62 non-null     float64
dtypes: float64(8), int64(5), object(1)
memory usage: 6.9+ KB

## Performing calculations within columns

In [22]:
tb_animals['ratio_brain_body'] = tb_animals['BrainWt_kg']/tb_animals['BodyWt']

In [23]:
tb_animals['ratio_brain_body'].describe()

count    62.000000
mean      0.009624
std       0.008915
min       0.000858
25%       0.003103
50%       0.006611
75%       0.013668
max       0.039604
Name: ratio_brain_body, dtype: float64

In [24]:
tb_animals[tb_animals['ratio_brain_body']>0.03]

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,new_column_2,id_linha,BrainWt_kg,ratio_brain_body
26,Groundsquirrel,0.101,4.0,10.4,3.4,13.8,9.0,28.0,5,1,3,26,26,0.0040,0.039604
41,Owlmonkey,0.480,15.5,15.2,1.8,17.0,12.0,140.0,2,2,2,41,41,0.0155,0.032292

In [25]:
tb_animals['ratio_brain_body']>0.01

0     False
1     False
2      True
3     False
4     False
      ...
57    False
58     True
59     True
60    False
61    False
Name: ratio_brain_body, Length: 62, dtype: bool

## Using String functions on columns

In [34]:
tb_animals['id_elefante'] = tb_animals['Species'].str.contains(r'[Ee]lepha')

In [36]:
tb_animals['id_elefante']

0      True
1     False
2     False
3     False
4      True
      ...
57    False
58    False
59    False
60    False
61    False
Name: id_elefante, Length: 62, dtype: bool

In [37]:
sum(tb_animals['id_elefante'])

2

In [42]:
tb_animals['lower_species'] = tb_animals['Species'].str.lower()

In [70]:
tb_animals['id_primata'] = tb_animals['lower_species'].str.contains(r'monk|ape|man|gorilla|baboon|chimpanzee')

In [71]:
sum(tb_animals['id_primata'])

7

In [72]:
tb_animals['lista_primata'] = tb_animals['lower_species'].str.findall(r'monk|ape|man|gorilla|baboon|chimpanzee')

In [73]:
tb_animals.head(10)

,Species,BodyWt,BrainWt,NonDreaming,Dreaming,TotalSleep,LifeSpan,Gestation,Predation,Exposure,Danger,lower_species,lista_primata,nome_primata,id_primata
0,Africanelephant,6654.000,5712.0,NaN,NaN,3.3,38.6,645.0,3,5,3,africanelephant,[],NaN,False
1,Africangiantpouchedrat,1.000,6.6,6.3,2.0,8.3,4.5,42.0,3,1,3,africangiantpouchedrat,[],NaN,False
2,ArcticFox,3.385,44.5,NaN,NaN,12.5,14.0,60.0,1,1,1,arcticfox,[],NaN,False
3,Arcticgroundsquirrel,0.920,5.7,NaN,NaN,16.5,NaN,25.0,5,2,3,arcticgroundsquirrel,[],NaN,False
4,Asianelephant,2547.000,4603.0,2.1,1.8,3.9,69.0,624.0,3,5,4,asianelephant,[],NaN,False
5,Baboon,10.550,179.5,9.1,0.7,9.8,27.0,180.0,4,4,4,baboon,[baboon],NaN,True
6,Bigbrownbat,0.023,0.3,15.8,3.9,19.7,19.0,35.0,1,1,1,bigbrownbat,[],NaN,False
7,Braziliantapir,160.000,169.0,5.2,1.0,6.2,30.4,392.0,4,5,4,braziliantapir,[],NaN,False
8,Cat,3.300,25.6,10.9,3.6,14.5,28.0,63.0,1,2,1,cat,[],NaN,False
9,Chimpanzee,52.160,440.0,8.3,1.4,9.7,50.0,230.0,1,1,1,chimpanzee,[chimpanzee],NaN,True

In [50]:
def fe_list(lista):
    try:
        return lista[0]
    except IndexError as e:
        return np.nan

tb_animals['nome_primata'] = tb_animals['lista_primata'].map(fe_list)

In [52]:
tb_animals['nome_primata'].value_counts()

monk       3
man        1
gorilla    1
Name: nome_primata, dtype: int64

## Sorting results

In [ ]:
# Your code here!
tb_animals.sort_values(by='ratio_brain_body', ascending=False, inplace=True)

## Performing calculations row-wise

### Calculate the sum of weights for each animal

In [ ]:
tb_animals['total_sleep'] = tb_animals[['NonDreaming', 'Dreaming']].sum(axis=1)

In [ ]:
tb_animals[['NonDreaming', 'Dreaming']].sum(axis=0)

In [ ]:
tb_animals['total_sleep'] =  tb_animals['NonDreaming']+tb_animals['Dreaming']

# Conditional Calculations

## Assign values based on conditions

In [ ]:
# Your code here!
tb_animals['flag_extincao'] = 0 # False
tb_animals.loc[tb_animals.Danger>=4, 'flag_extincao'] = 1 # True

In [ ]:
tb_animals.groupby('flag_extincao').mean().T

# Quantiles
*Touching statistics*

> Percentiles: 
    - q50 means that 50% of your dataset is below that number. That is the median value.
    - q90 means that 90% of your dataset is below that number.
    - q10 means that 10% of your dataset is below that number.

> Calculating the q50

In [ ]:
# Your code here!
tb_animals.BodyWt.median()

In [ ]:
tb_animals.loc[tb_animals['BodyWt']>tb_animals['BodyWt'].median(), :].head()

In [ ]:
tb_animals['BodyWt'].quantile(0.10)

In [ ]:
tb_animals['BodyWt'].quantile([0.10, 0.20, 0.30])

## Binarizing (categorizing) data

In [ ]:
# Your code here!
tb_animals['BodyWt_Interval'] = pd.qcut(tb_animals['BodyWt'], 4, ['P', 'M', 'G', 'GG'])

In [ ]:
tb_animals['BodyWt_Interval'].value_counts(normalize=True)

> Calculating the threshold for different quantiles

In [ ]:
# Your code here!
tb_animals['BodyWt_Interval2'] = pd.cut(tb_animals['BodyWt'], 4)

> Selecting (and counting) the observations that are above (or below) that threshold

In [ ]:
q10 = tb_animals['BodyWt'].quantile(0.10)

In [ ]:
tb_animals.query(f'BodyWt < {q10}')

In [ ]:
# Your code here!

## Numpy where

In [ ]:
import numpy as np

In [ ]:
q95 = tb_animals['BodyWt'].quantile(0.95)

In [ ]:
q95

In [ ]:
tb_animals['classification'] = np.where(tb_animals['BodyWt']>q95, 'SUPER OVERWEIGHT', 'NORMAL')

In [ ]:
q50 = tb_animals['BodyWt'].quantile(0.50)
q85 = tb_animals['BodyWt'].quantile(0.85)
q95 = tb_animals['BodyWt'].quantile(0.95)

tb_animals['class'] = np.where(tb_animals['BodyWt'] > q95, 'SUPER-OVERWEIGHT', 
                            np.where(tb_animals['BodyWt'] > q85, 'ALMOST-SUPER-OVERWEIGHT', 
                                   np.where(tb_animals['BodyWt'] > q50,'QUASI-ALMOST-SUPER-OVERWEIGHT','NORMAL')))

> np.where(condition is true, then this value, else this value)

# Bonus: 

## Correlation

*Touching statistics*

In [ ]:
tb_animals.corr()